@using StoryManagement.Model.Entity
@model Chapters

@{
    ViewData["Title"] = ViewBag.id <= 0 ? "Thêm mới chương truyện" : "Sửa nội dung chương";
    List<Part_Chapter> part_Chapters = (List<Part_Chapter>)ViewBag.PartChapter;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="frmChapter" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
                    <input type="text" hidden value="@ViewBag.idChapter" asp-for="@Model.Id" />
                    <input type="text" hidden value="@ViewBag.idStory" asp-for="@Model.StoryId" />
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label required">Tiêu đề</label>
                        <textarea asp-for="@Model.Title" class="form-control" id="txtTitle"></textarea>
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label">Phần truyện</label>
                        <select class="form-select" asp-for="@Model.Belong">
                            @if (part_Chapters.Count > 0)
                            {
                                foreach(Part_Chapter item in part_Chapters)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label">Nội dung chương</label>
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "txtContent" })
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-success" style="width:100px;" type="submit" id="Save">Lưu</button>
                        <a href="/Home" class="btn w-md btn-outline-info waves-effect waves-light">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        CKEDITOR.replace('txtContent', {
            height: '1000px'
        });
    </script>
}


