@using StoryManagement.Model.Entity

@{
    ViewData["Title"] = ViewBag.id <= 0 ? "Thêm mới chương truyện" : "Sửa nội dung chương";
    List<Part_Chapter> part_Chapters = (List<Part_Chapter>)ViewBag.PartChapter;
    Chapters chapter = (Chapters)ViewBag.chapters;
    var ChapterCount = (int)ViewBag.ChapterCount;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="frmChapter" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
                    <input type="text" hidden value="@ViewBag.idChapter" id="Id" name="Id" />
                    <input type="text" hidden value="@ViewBag.idStory" id="StoryId" name="StoryId" />
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label required">Tiêu đề</label>
                        <textarea class="form-control" id="txtTitle">@(chapter != null ? chapter.Title : null)</textarea>
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label">Phần truyện</label>
                        <div class="d-flex gap-3">
                            <select class="form-select" id="Belong" name="Belong">
                                @if (part_Chapters.Count > 0)
                                {
                                    foreach (Part_Chapter item in part_Chapters)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <a id="addPart" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">+</a>
                        </div>                        
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label">Vị trí thêm</label>
                        <div class="row">
                            <select class="form-select col-6" id="searchBelong" name="searchBelong">
                                @if (part_Chapters.Count > 0)
                                {
                                    foreach (Part_Chapter item in part_Chapters)
                                    {
                                        <option value="@item.Id">@item.Name (@item.ChapterCount) </option>
                                    }
                                }
                            </select>
                            <div class="col-6">
                                <span id="titleFound" disabled></span>
                            </div>
                            <div class="col-3 mt-3">
                                <input class="form-control" type="text" id="searchOrder" value="@(ChapterCount + 1)" />
                            </div>
                            <div class="col-2 mt-3">
                                <button type="button" id="btnSearchChapter" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label class="form-label">Nội dung chương</label>
                        <textarea class="form-control" id="txtContent" name="txtContent">@(chapter != null ? chapter.Content : null)</textarea>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-success" style="width:100px;" type="submit" id="Save">Lưu</button>
                        <a href="/Home" class="btn w-md btn-outline-info waves-effect waves-light">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="@ViewBag.idStory" id="idStoryAddPartChapt" />
                <label class="form-label">Tên</label>
                <input type="text" id="partChapterName" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="savePart">Lưu</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        CKEDITOR.replace('txtContent', {
            height: '700px'
        });
    </script>
}


