@using StoryManagement.Model.Entity
@using StoryManagement.Model.Enum

@{
    ViewData["Title"] = "Danh sách truyện";
    var lstTags = (List<Tags>)ViewBag.lstTag;
    // var lstAuthors = (List<Authors>)ViewBag.lstAuthor;
    // var listType = Enum.GetValues(typeof(StatusStory)).Cast<StatusStory>().Select(v => new SelectListItem
    //         {
    //             Text = v.ToString(),
    //             Value = ((int)v).ToString()
    //         }).ToList();
}
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Truyện</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách truyện</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btnCreate">Thêm mới</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="txtSearch" placeholder="Tìm kiếm tên truyện" />
                    </div>
                    <div class="col-lg-3">
                        <select class="form-select" id="sltTag" multiple>
                            <option value="0">--Tất cả thể loại--</option>
                            @if (lstTags != null && lstTags.Count > 0)
                            {
                                foreach (var item in lstTags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-select" id="sltAuthor" multiple>
                            <option value="0">--Tất cả tác giả--</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" name="checkbox" value="All" id="chk" checked>
                        <label for="chk" id="lblStt">Tất cả</label>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-sm mr-5"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-lg-12 table-responsive" style="height: 480px;">
                    <table class="table table-bordered" id="tblStory"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCreateOrEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelAction"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmStory" method="post">
                    <input type="text" hidden id="txtIdModal" name="Id" />
                    <div class="form-group mb-3">
                        <label class="form-label required">Tên truyện</label>
                        <textarea class="form-control" name="txtName" id="txtName"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Chương truyện</label>
                        <textarea class="form-control" name="NumberChapter" id="txtNumberChapter"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            @* <div class="col">
                                <label class="form-label">Trạng thái</label>
                                <select class="form-control" id="idStatus" name="Status">
                                    @{
                                        foreach (var item in listType)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div> *@
                            <div class="col-1"></div>
                            <div class="col-4">
                                <label class="form-label">Đã đọc?</label><br/>
                                <input class="form-check-input ms-2" type="checkbox" name="IsRead" id="ckRead"/>
                            </div>
                            <div class="col-4">
                                <label class="form-label">File tổng hợp (hệ liệt)?</label><br/>
                                <input class="form-check-input ms-2" type="checkbox" name="IsCollection" id="ckRead"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Nguồn</label>
                        <select class="form-select" id="sources" name="sources">
                            <option value="SacHiepVien">SacHiepVien</option>
                            <option value="SangTacViet">SangTacViet</option>
                            <option value="Wattpad">Wattpad</option>
                            <option value="Other">Khác</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Thẻ</label>
                        <select class="form-select" id="sltFormTag" multiple name="ListTag">
                            @if (lstTags != null && lstTags.Count > 0)
                            {
                                foreach (var item in lstTags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Tác giả</label>
                        <select class="form-select" id="sltFormAuthor" multiple name="ListAuthor">
                            @* @if (lstAuthors != null && lstAuthors.Count > 0)
                            {
                                foreach (var item in lstAuthors)
                                {
                                    <option value="@item.Id">@item.Pseudonym</option>
                                }
                            } *@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>